<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Authenticator</title>
        {# METADATA #}
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no">

        <meta name="description" content="Authenticator Bundle test">
    </head>

    <body>

    </body>
</html>
