<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Authenticator</title>
        {# METADATA #}
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no">

        <meta name="description" content="Authenticator Bundle test">
    </head>

    <body>
        <h4>Does Facebook support Fetch User?</h4>
        <h5>{{ facebookSupport ? 'Yes' : 'No' }}</h5>
        <h4>Does Twitter support Fetch User?</h4>
        <h5>{{ twitterSupport ? 'Yes' : 'No' }}</h5>
        <h4>Does GitHub support Fetch User?</h4>
        <h5>{{ gitHubSupport ? 'Yes' : 'No' }}</h5>
    </body>
</html>
